/*
COLORS:
#0B0C10 - 'NIGHT', dark black background
#1F2833 - 'GUNMETAL', dark navy blue, table header background
#45A29E - 'Verdigris', teal, table header border/accent color
$c5c6c7 - 'SILVER', light gray, table body background for odd rows
#e3e7eb - 'Gainsboro', light gray, table body background for even rows
#66FCF1 - 'Fluorescent cyan', light blue, table row hover color
rgb(111, 144, 205) - crease paint blue
rgb(182, 71, 71) - red line red
*/







:root {
	--jumbotron-padding-y: 3rem;
  }
  
  .jumbotron {
	padding-top: var(--jumbotron-padding-y);
	padding-bottom: var(--jumbotron-padding-y);
	margin-bottom: 0;
	background-color: #fff;
  }
  @media (min-width: 768px) {
	.jumbotron {
	  padding-top: calc(var(--jumbotron-padding-y) * 2);
	  padding-bottom: calc(var(--jumbotron-padding-y) * 2);
	}
  }
  
  .jumbotron p:last-child {
	margin-bottom: 0;
  }
  
  .jumbotron-heading {
	font-weight: 300;
  }
  
  .jumbotron .container {
	max-width: 40rem;
  }
  
  footer {
	padding-top: 3rem;
	padding-bottom: 3rem;
	width: 100%; /* Full-width footer */
  }

  /* Footer container styling */
  .footer-container {
	  display: flex;
	  justify-content: space-between; /* Push left and right content to far edges */
	  align-items: center;
	  width: 100%; /* Ensure it spans the full width of the screen */
  }


  /* Links in the center */
  .footer-links {
	  display: flex;
	  justify-content: center;
	  flex-wrap: wrap;
	  gap: 10px;
  }

  /* Spacing around the | separator */
  .footer-separator {
	  margin: 0 4px; /* Space on both sides of the | */
  }
  .footer-separator::before {
	content: " |";
  }
  

  /* Styling for the copyright and back-to-top */
  .footer-left,
  .footer-right {
	  flex-shrink: 0; /* Prevent shrinking of these elements */
  }
  
  footer p {
	margin-bottom: .25rem;
  }
  
  .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
  



/* ################################################## GLOBAL STYLES ################################################## */
.index-bg-img {
    background-image: url(../images/enchantedlake.jpg);
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.my-footer {
	background-color: #171a1f;
	color: white;
	width: 100%;
	border-top: 2px solid #1F2833;
}

/* sets background color for Bootstrap's default footer class */
.bg-body-tertiary {
	background-color: #2f333b;
	color: white;
}

/* Prevent horizontal scrolling on mobile */
body {
	width: 100%;
	overflow-x: hidden;
	font-family: 'Inter', sans-serif;
	line-height: 1.6;
	background-color: #757c84;
}

html, body {
	height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
	padding: 0;
  }

main {
	flex: 1;
}
  
.content-wrapper {
	flex: 1; /* this makes the main content fill the space */
}

.min-w-max {
    min-width: max-content;
}



#navbarHeader {
    background-color: #343a40; /* Navbar background color */
    z-index: 1050; /* Ensure it stays above other elements */
    position: fixed; /* Fix it to the top of the viewport */
    top: 0; /* Align it to the top */
    left: 0; /* Align it to the left */
    width: 100%; /* Full width */
    transition: transform 0.3s ease-in-out; /* Smooth transition for expand/collapse */
}

#navbarHeader.collapse {
    transform: translateY(-100%); /* Slide out of view when collapsed */
}

#navbarHeader.collapse.show {
    transform: translateY(0); /* Slide into view when expanded */
    background-color: #343a40; /* Ensure background color persists */
}


/* ################################################## INDEX PAGE STYLES ################################################## */
.containedImage {
	overflow: hidden;
	display: flex;
	justify-content: center;
}

.containedImage img {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}

/* ################################################### PROJECT PAGE STYLES ################################################### */
/* Formatting images on project pages */


/* Formatting text on project pages */
.sectionHeading {
	color: #18314F;
	padding: .6em;
	font-size: 2.4em;
	font-weight: bold;
	text-align: center;
}

.underline {
	border-bottom-style: solid;
	border-color: #18314F;
	padding-bottom: .8em;
}

.headingContent {
	color: #18314f;
	font-size: 1.2em;
	text-align: center;
}


.height-cap {
    height: 16em;
}

/* Formatting Spotify DB/search page */
.spotifyTable {
	border: 1px solid #18314F;
}

/* #################################################### NHL INDEX STYLES #################################################### */
.nhlindex-bg-img {
	background-image: url(../images/nhl_index_bg.jpg);
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}

#nhlindex-content {
	background-color: rgba(76, 91, 100, 0.85); /* gray */
	border-radius: 8px;
	color: rgb(233, 235, 236);
	padding-top: 20px; padding-right: 20px; padding-left: 20px;
	width: 100%;
  }


/* GAMES/PLAYER SUMMARY TABLE */
#nhl-games-players-summary-content-container {
	color: #c5c6c7;
	text-align: center;
}

  
  #games-players-summary-table th,
  #games-players-summary-table td {
	padding: 12px 16px;
	border-bottom: 1px solid #d2d8db;
  }
  #games-players-summary-table td {
	font-size: 0.9rem;
	text-align: center;
  }
  #games-players-summary-table th {
	font-size: 0.95rem;
	color: white;
	background-color: #18314f;
  }
  #games-players-summary-table tr {
	color: black;
}
  
  /* sort arrow styling */
  .sort-arrows a {
	margin-left: 4px;
	font-size: 0.8rem;
	text-decoration: none;
  }

/* ############################################################# NHL PLAYER PAGE STYLES ########################################################## */
/* Player Stats Table Styling */
#player-goalie-stats-table-container {
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    padding-bottom: 1rem;
}

.player-stats-table, .goalie-stats-table, .season-roster-table, .overall-team-stats-table {
    width: 100%;
    margin: 20px auto;
    table-layout: fixed;
    text-align: center;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    /* border-radius: 8px; */
	zoom: .9;
}




/* Apply border-radius to the thead to round the whole header */
.player-stats-table thead, .goalie-stats-table thead, .season-roster-table thead {
	font-weight: bold;
    /* border-radius: 8px 8px 0 0; */
    overflow: hidden; /* Prevent content from overflowing and disrupting rounded corners */
	position: sticky;
	top: 0;
	z-index: 2;
	color: white;
	/* background-color: #18314f; */
	text-align: center;
	font-weight: bold;
	background-color: #18314F;
}

.player-stats-table th, .goalie-stats-table th, .season-roster-table th, .overall-team-stats-table th {
    padding: 5px;
    border-bottom: 2px solid #ddd;
	border: 1px solid #e3e7eb;
}

/* Table Cell Styling */
.player-stats-table td, .goalie-stats-table td, .season-roster-table td, .overall-team-stats-table td {
    padding: 10px 12px;
    text-align: center;
    color: #333; /* Ensure text is dark enough for readability */
	border: 1px solid #e3e7eb;
}


/* Responsive flex container for hero + bio */
.hero-bio-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
	flex-wrap: wrap;
}
.hero-bio-image {
	width: 100%;        /* always fill its container */
	max-width: 800px;   /* but never grow bigger than 550px */
	border-radius: 8px;
	flex-shrink: 0;
  }
  
  .bio-box {
	border: 1px solid #e3e7eb;
	border-radius: 8px;
	overflow: hidden;
	background-color: #e3e7eb;
  }
  
  .bio-header {
	text-align: center;
	background-color: #18314f;
	color: white;
	padding: 10px;
	margin: 0;
	font-size: 1.25rem; /* a little larger */
	font-weight: bold;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom: 1px solid #e3e7eb;
  }
  
  .bio-body {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 400px; /* Adjust this as you want */
	padding: 10px 5%;
	color: black;
  }
  
  .bio-body p {
	margin: 0 0 8px 0;
  }
  
  .awards {
	margin-top: 10px;
  }
  
  .awards p {
	margin: 0 0 5px 0;
  }
  

.career-header {
	background-color: #18314f;
	color: white !important;
	font-weight: bold;
	border: 3px solid white;
  }
  
  .career-subheader {
	background-color: #18314f;
	color: white !important;
	font-weight: bold;
	border: 3px solid white;
	border-left: none; /* Because you want left border separate sometimes */
  }
  
  .career-data {
	border: 3px solid white;
	font-weight: 600;
  }
  
  .player-season-by-season-stats-table {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	border: 2px solid #e3e7eb;
	border-radius: 8px; /* <<< OPTIONAL if you want rounded table */
	overflow: hidden;   /* <<< OPTIONAL for cleaner rounding */
	zoom: .9;
}

.player-season-by-season-stats-table th,
.player-season-by-season-stats-table td {
	border: 1px solid #e3e7eb;
	padding: 8px;
}

.player-season-by-season-stats-table th {
background-color: #18314F;
}



  /* ############################################## NHL Game Page Style ############################################# */

#play-by-play-container {
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    padding-bottom: 1rem;
}

#play-by-play-table {
    width: 80%;
    margin: 20px auto;
    table-layout: fixed;
    border-collapse: separate; /* Use separate borders for table and rows */
    border-spacing: 0; /* Remove space between borders */
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: none;
	zoom: .7;
}

/* Apply border-radius to the thead to round the whole header */
#play-by-play-table thead {
    font-weight: bold;
    border-radius: 8px 8px 0 0; /* Round the top corners of the entire header */
    overflow: hidden; /* Prevent content from overflowing and disrupting rounded corners */
	position: sticky;
	top: 0;
	background-color: #1F2833;
	z-index: 2;
	color: white;
	text-align: center;
	font-weight: 600;
	border: 2px solid white;
}

#play-by-play-table th {
    padding: 12px;
    border-bottom: 2px solid #ddd;
}

/* Table Cell Styling */
#play-by-play-table td {
    padding: 10px 12px;
    border: 1px solid #ddd;
    text-align: center;
    color: #333; /* Ensure text is dark enough for readability */
}


.roster-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Flexible column widths */
    gap: 40px;
    justify-content: center;
    padding: 40px;
    margin: 0 auto;
    width: 100%;
    max-width: none;
    overflow-x: auto; /* Allow horizontal scrolling */
}

.team-column {
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex-grow: 1; /* Allow columns to grow dynamically */
	overflow-x: auto;
}

.roster-table-wrapper {
    width: 100%;
    overflow-x: auto; /* Ensure horizontal scrolling for tables */
}

.roster-table {
    min-width: 1200px; /* Set a minimum width for the table */
    border: 1px solid #bcd6e7;
    width: auto; /* Allow the table to grow based on content */
	overflow-x: auto;
}

.roster-title {
    text-align: center;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .roster-container {
        grid-template-columns: 1fr; /* Stack tables vertically on small screens */
    }
}





.rink-key-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
	position: relative;
    gap: 5%;
    flex-wrap: wrap; /* Optional: makes it responsive on small screens */
}

/* Individual column for title + element */
.rink-key-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.coordinate-dot {
	width: 10px;
	height: 10px;
	background-color: #18314f;
	position: absolute;
	border-radius: 50%;
	z-index: 10;
  }


  #rink-image {
	outline: 1px solid limegreen;
  }
  #marker {
	outline: 1px solid yellow;
  }
  



/* ####################################################### NHL TEAM PAGE STYLES ########################################################## */

/* Header box that contains the team name and logo */
.team-header {
	padding: 20px;
	border-radius: 12px;
	box-shadow: 0 2px 10px rgba(0,0,0,0.2);
	margin-bottom: 30px;
	display: flex;
	justify-content: center;
}

/* filter container for season filter dropdown */
.filter-container {
    width: 100%;
    max-width: 300px;
    margin: 0 auto 10px auto;
    padding: 7px 10px;
    border-radius: 5px;
    color: rgb(233, 235, 236);
    display: flex;
    justify-content: space-between; /* Push label left, select right */
    align-items: center;
    gap: 10px;
    font-size: 16px;
    box-sizing: border-box; /* Ensures padding doesn't overflow */
}
.filter-container label {
    margin: 0;
    line-height: 1;
}
.filter-container select {
    flex-shrink: 0;
    padding: 5px;
	padding: 5px 8px;
    font-size: 16px;
    line-height: 1;
}

/* Dropdown for selecting season */
#seasonDropdown {
	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px; 
	padding: 5px; 
	margin: 0;
	color: black;
    cursor: pointer;
    transition: all 0.3s ease;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
#seasonDropdown select {
	padding: 6px 12px;
	border-radius: 8px;
	border: 1px solid #ccc;
}
#seasonDropdown:hover {
    background-color: #dddbdb; /* Slightly lighter red on hover */
    border-color: #b5b4b4;
}

#seasonDropdown:focus {
    outline: none;
    box-shadow: 0 0 8px rgba(17, 17, 17, 0.5); /* Subtle focus effect */
}

#player-goalie-stats-table-container {
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    padding-bottom: 1rem;
}

.skaters-combined-table {
    width: 100%;
    margin: 20px auto;
    table-layout: fixed;
    text-align: center;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    /* border-radius: 8px; */
	zoom: .9;
}


/* Apply border-radius to the thead to round the whole header */
.skaters-combined-table thead {
	font-weight: bold;
    /* border-radius: 8px 8px 0 0; */
    overflow: hidden; /* Prevent content from overflowing and disrupting rounded corners */
	position: sticky;
	top: 0;
	z-index: 2;
	color: white;
	text-align: center;
	font-weight: bold;
}

.skaters-combined-table th {
    padding: 5px;
    border-bottom: 2px solid #ddd;
	border: 1px solid #e3e7eb;
}

/* Table Cell Styling */
.skaters-combined-table td {
    padding: 10px 12px;
    text-align: center;
    color: #333; /* Ensure text is dark enough for readability */
	border: 1px solid #e3e7eb;
}

.goalies-combined-table {
    width: 100%;
    margin: 20px auto;
    table-layout: fixed;
    text-align: center;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    /* border-radius: 8px; */
	zoom: .9;
	border-collapse: collapse;
}


/* Apply border-radius to the thead to round the whole header */
.goalies-combined-table thead {
	font-weight: bold;
    /* border-radius: 8px 8px 0 0; */
    overflow: hidden; /* Prevent content from overflowing and disrupting rounded corners */
	position: sticky;
	top: 0;
	z-index: 2;
	color: white;
	text-align: center;
	font-weight: bold;
}

.goalies-combined-table th {
    padding: 5px;
}

/* Table Cell Styling */
.goalies-combined-table td {
    padding: 10px 12px;
    text-align: center;
    color: #333; /* Ensure text is dark enough for readability */
}



/* ############################################################## */
.shift-table {
	width: 100%
}

.shift-table thead {
	background-color: #18314f;
	color: white;
	text-align: center;
	font-weight: 600;
	zoom: 0.9;
}


/* ADDING GENERAL CLASSES HERE TO AVOID DUPLICATION OF CLASSES ON MULTIPLE DIFFERENT TABLES */
/* ####################################################################### RE-USABLE TABLE STYLES ######################################################################### */

/* outer container for horizontal scrolling tables */
.default-horizontal-scroll-table-container {
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    padding-bottom: 1rem;
}

/* classes for alternating row colors and hover effects */
.default-zebra-table td {
	color: black;
}

.default-zebra-table th {
	/* background-color: #18314f; */
	color: white;
	text-align: center;
	font-weight: 600;
}

.default-zebra-table tbody tr:nth-child(even) {
	background-color: #e3e7eb;
}
.default-zebra-table tbody tr:nth-child(odd) {
	background-color: #c5c6c7;
}
.default-zebra-table tbody tr:hover {
	background-color: rgb(133, 149, 168);
	transition: 0.2s ease-in-out;
	color: white;
}

.default-selected-row {
	background-color: rgb(133, 149, 168) !important;
}

.default-zebra-table {
	width: 100%;
	border-radius: 8px;
	/* border: 2px solid #e3e7eb !important; */
	overflow: hidden;
	border-collapse: collapse;
	/* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
}

	
/* furthest outer div class that surrounds whole page content and allows for full page width */
.full-page-content-container {
	width: 100%;
}


/* Team link footer */
.footer-teams {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;
	margin-top: 20px;
	max-width: 72%;
}
.footer-teams a {
	text-decoration: none;
}
.footer-teams a:hover {
text-decoration: underline;	
}


/* ######################################################################### TABLE WIDTHS ######################################################################### */

/* Team Overall Season Stats Table Width */
.overall-team-stats-season { width: 8%;}
.overall-team-stats-gp { width: 5%;}
.overall-team-stats-w { width: 4%;}
.overall-team-stats-l { width: 4%;}
.overall-team-stats-otl { width: 4%;}
.overall-team-stats-pts { width: 4%;}
.overall-team-stats-t { width: 4%;}
.overall-team-stats-reg-wins { width: 4%;}
.overall-team-stats-ot-wins { width: 4%;}
.overall-team-stats-so-wins { width: 4%;}
.overall-team-stats-fo-win-pct { width: 5%;}
.overall-team-stats-sa-gp { width: 5%;}
.overall-team-stats-sf-gp { width: 5%;}
.overall-team-stats-gf { width: 5%;}
.overall-team-stats-gf-gp { width: 5%;}
.overall-team-stats-ga { width: 5%;}
.overall-team-stats-ga-gp { width: 5%;}
.overall-team-stats-pk-pct { width: 5%;}
.overall-team-stats-pt-pct { width: 5%;}
.overall-team-stats-pp-net-pct { width: 5%;}
.overall-team-stats-pp-pct { width: 5%;}

/* Goalie Featured/Career Reg/Career Playoff Table Width */
.goalie-player-details-gp { width: 9%; }
.goalie-player-details-gs { width: 9%; }
.goalie-player-details-w { width: 9%;}
.goalie-player-details-l { width: 9%;}
.goalie-player-details-gaa { width: 9%;}
.goalie-player-details-savepct { width: 10%;}
.goalie-player-details-so { width: 9%;}
.goalie-player-details-t { width: 9%;}
.goalie-player-details-gs { width: 9%;}
.goalie-player-details-ga { width: 9%;}
.goalie-player-details-otl { width: 9%;}
.goalie-player-details-sa { width: 9%;}


/* Skater Combined Table Width */
.skaters-combined-season { width: 13%;}
.skaters-combined-name { width: 18%;}
.skaters-combined-position { width: 6%;}
.skaters-combined-gp { width: 6%;}
.skaters-combined-g { width: 6%;}
.skaters-combined-a { width: 6%;}
.skaters-combined-p { width: 6%;}
.skaters-combined-plus-minus { width: 6%;}
.skaters-combined-shots { width: 6%;}
.skaters-combined-shot-pct { width: 7%;}
.skaters-combined-avg-toi { width: 7%;}
.skaters-combined-avg-shifts { width: 7%;}
.skaters-combined-fo-pct { width: 6%;}

/* Goalie Combined Table Width */
.goalies-combined-season { width: 14%;}
.goalies-combined-name { width: 16%;}
.goalies-combined-gp { width: 5%;}
.goalies-combined-gs { width: 5%;}
.goalies-combined-w { width: 5%;}
.goalies-combined-l { width: 5%;}
.goalies-combined-t { width: 5%;}
.goalies-combined-otl { width: 5%;}
.goalies-combined-gaa { width: 6%;}
.goalies-combined-sv { width: 6%;}
.goalies-combined-sa { width: 6%;}
.goalies-combined-saves { width: 6%;}
.goalies-combined-ga { width: 5%;}
.goalies-combined-so { width: 5%;}
.goalies-combined-toi { width: 6%;}

/* Roster Table Width */
.season-col-roster { width: 20%; }
.playerID-col-roster { width: 25%; }
.name-col-roster { width: 35%; }
.position-col-roster { width: 20%; }

/* Skater Table Width */
.season-col-skater-stats { width: 11%; }
.gameType-col-skater-stats { width: 5%; }
.name-col-skater-stats { width: 18%; }
.position-col-skater-stats { width: 5%; }
.gp-col-skater-stats { width: 5%; }
.goals-season-col-skater-stats { width: 5%; }
.assists-season-col-skater-stats { width: 5%; }
.points-season-col-skater-stats { width: 5%; }
.plusMinus-season-col-skater-stats { width: 5%; }
.shots-col-skater-stats { width: 6%; }
.shotPct-col-skater-stats { width: 7%; }
.avgTOI-col-skater-stats { width: 7%; }
.avgShifts-col-skater-stats { width: 8%; }
.FOPct-col-skater-stats { width: 8%; }

/* Goalie Table Width */
.season-col-goalie-stats { width: 10%; }
.gameType-col-goalie-stats { width: 6%; }
.name-col-goalie-stats { width: 14%; }
.position-col-goalie-stats { width: 3%; }
.gp-col-goalie-stats { width: 4%; }
.gs-season-col-goalie-stats { width: 4%; }
.wins-season-col-goalie-stats { width: 4%; }
.losses-season-col-goalie-stats { width: 4%; }
.ties-season-col-goalie-stats { width: 3%; }
.otlosses-col-goalie-stats { width: 4%; }
.GAA-col-goalie-stats { width: 6%; }
.svPct-col-goalie-stats { width: 6%; }
.SA-col-goalie-stats { width: 4%; }
.saves-col-goalie-stats { width: 4%; }
.GA-col-goalie-stats { width: 4%; }
.SO-col-goalie-stats { width: 4%; }
.TOI-col-goalie-stats { width: 6%; }

/* Play-by-Play Table on Game Details Page */
.pbp-col-time-left { width: 4%; }
.pbp-col-type { width: 4%; }
.pbp-col-coords { width: 6%; }
.pbp-col-team { width: 4%; }
.pbp-col-fo-winner { width: 6%; }
.pbp-col-fo-loser { width: 6%; }
.pbp-col-hitter { width: 6%; }
.pbp-col-hittee { width: 6%; }
.pbp-col-shot-type { width: 5%; }
.pbp-col-shooter { width: 6%; }
.pbp-col-goalie { width: 6%; }
.pbp-col-reason { width: 5%; }
.pbp-col-take-give { width: 5%; }
.pbp-col-blocker { width: 5%; }
.pbp-col-scorer { width: 5%; }
.pbp-col-primary-assister { width: 5%; }
.pbp-col-penalty { width: 6%; }
.pbp-col-committer { width: 5%; }
.pbp-col-drawer { width: 5%; }

/* Game/Player Summary Table on Search Results page */
.games-players-summary-col-season { width: 12%; }
.games-players-summary-col-gameNumber { width: 8%; }
.games-players-summary-col-date { width: 9%; }
.games-players-summary-col-startTime { width: 9%; }
.games-players-summary-col-gameType { width: 7%; }
.games-players-summary-col-homeTeam { width: 14%; }
.games-players-summary-col-homeScore { width: 8%; }
.games-players-summary-col-awayTeam { width: 14%; }
.games-players-summary-col-awayScore { width: 8%; }
.games-players-summary-col-id { width: 11%; }


/* Skate Game Stats on Game Details Page */
.game_details_skater_stats_name { width: 16%;}
.game_details_skater_stats_number { width: 5%;}
.game_details_skater_stats_position { width: 5%;}
.game_details_skater_stats_goals { width: 5%;}
.game_details_skater_stats_assists { width: 5%;}
.game_details_skater_stats_points { width: 5%;}
.game_details_skater_stats_plusminus { width: 5%;}
.game_details_skater_stats_pim { width: 6%;}
.game_details_skater_stats_hits { width: 6%;}
.game_details_skater_stats_powerplaygoals { width: 6%;}
.game_details_skater_stats_sog { width: 5%;}
.game_details_skater_stats_faceoffpctg { width: 5%;}
.game_details_skater_stats_toi { width: 6%;}
.game_details_skater_stats_blockedshots { width: 5%;}
.game_details_skater_stats_shifts { width: 5%;}
.game_details_skater_stats_giveaways { width: 5%;}
.game_details_skater_stats_takeaways { width: 5%;}

/* Season by Season Stats on Player Page */
.season-by-season-season { width: 13%; }
.season-by-season-league { width: 16%; }
.season-by-season-team { width: 28%; }
.season-by-season-gametype { width: 6%; }
.season-by-season-gp { width: 6%; }

.goalie-player-details-gp { width: 6%; }
.goalie-player-details-w { width: 6%; }
.goalie-player-details-l { width: 6%; }
.goalie-player-details-gaa { width: 7%; }
.goalie-player-details-savepct { width: 7%; }

.player-season-by-season-stats-gp { width: 6%; }
.player-season-by-season-stats-g { width: 6%; }
.player-season-by-season-stats-a { width: 6%; }
.player-season-by-season-stats-pts { width: 7%; }
.player-season-by-season-stats-pim { width: 7%; }

/* ################################################################ MOBILE RESPONSIVENESS ################################################################# */

/* Mobile Responsiveness */
@media (max-width: 768px) {
	.player-stats-table, .goalie-stats-table {
		width: 100%;
		margin: 0;
		font-size: 12px;
	}

	.player-stats-table th, .goalie-stats-table th,
	.player-stats-table td, .goalie-stats-table td {
		padding: 8px;
	}

	.hero-bio-container {
		flex-direction: column;
		align-items: center;
		text-align: center;
		width: 100%;
	}
	
	  .hero-bio-image {
		width: 100%;
		max-width: 600px;
		height: auto;
	}
	
	  .bio-box {
		width: 90%;
	}
	
	  .bio-box p, .bio-box h4 {
		text-align: center;
	}
}

@media (max-width: 480px) {
	.filter-container {
		flex-direction: column;
		align-items: flex-start;
		font-size: 14px;
	}

	.filter-container label,
	.filter-container select {
		width: 100%;
	}
}